html {
  font-size: 62.5%;
}
body {
  font-family: "Times New Roman", Times, serif;
  padding: 1rem;
}
.content {
  display: flex;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

li {
  border-bottom-right-radius: 10px 10px;
}

.conteiner {
  flex: 2;
  flex-direction: column;
}

.conteiner li {
  padding: 1rem;
}

.conteiner li:nth-child(2n) {
  background: #e0eac4;
}

h1,
p {
  padding: 10px;
}

h1 {
  font-weight: bolder;
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

.conteiner2 {
  flex: 1;
  flex-direction: column;
  min-height: 500px;
}

.conteiner2 li {
  padding: 1rem;
}

.conteiner2 li:nth-child(2n-1) {
  background: #e0eac4;
}
